.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000; 
}

.home-page-container {
    padding-top: 64px; 
    display: grid;
    justify-items: center;
    align-items: center;
}
.AnimeCardContainer {
    align-self: center;
    justify-self: center;
}

.number-of-displayed-anime-selector{
    position: fixed;
    top: 64px; 
    right: 20px; 
    z-index: 1000; 
    background-color: white; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}